@media (max-width: 950px){
    .header__menu-btn{
        display: block;
    }
    .header__menu ul{
        display: none;
        position: absolute;
        z-index: 2;
        top: 120px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        border-bottom: 5px solid #2aacc8;
    }
    .header__menu li{
        display: block;
        text-align: center;
    }
    .drop-down__list{
        z-index: -1;
    }
    .header__menu li + li{
        margin-left: 0;
    }
    .header__drop-down.drop-down + .header__link-blog{
        margin-left: 0;
    }
    .header__drop-down.drop-down{
        margin-left: 0;
    }
    .header__drop-down.drop-down + .header__drop-down.drop-down {
        margin-left: 18px;
    }
    .header__drop-down.drop-down {
        margin-left: 18px;
    }
    .items__inner{
        flex-wrap: wrap;
    }
    .item{
        width: 50%;
        margin-bottom: 20px;
        
    }
    .clients__logo{
        padding-left: 15px;
    }
    .download__btn{
        padding-left: 15px;
    }
    .footer__inner{
        flex-wrap: wrap;
    }
    footer__item-content{
        width: 60%;
        margin-top: 20px;
    }
    .footer__copy{
        padding-right: 15px;
    }
    
}




@media (max-width: 750px){
    .item{
        padding-right: 0;
        width: 100%;
    }
    .slider__item-title{
        font-size: 45px;
    }
    .clients__inner{
        flex-wrap: wrap;
    }
    .testimonials{
        max-width: 100%;
    }
    .clients__logo{
        margin: 0 auto;
    }
    .footer__item-content{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__item-social{
        width: 60%;
        margin-top: 20px;
    }
}




@media (max-width: 670px) {

    .download{
        flex-wrap: wrap;
    }
    .download__btn{
        margin: 30px auto 0;
        padding-left: 0;
    }
    .clients__logo--images img{
        max-width: 100%;
    }
    .download {
        padding: 10px 10px 30px 10px;
    }  
    .footer__item-social{
        width: 100%;
    }
    

}



@media (max-width: 450px){
    .slider__item-title{
        font-size: 35px;
        margin-left: 10px;
        line-height: 45px;
    }
    .footer__item-contact{
        width: 100%;
        margin-top: 20px;
    }
    .footer__inner{
        justify-content: flex-start;
    }
    .footer__copy{
        padding-right: 0;
        margin-bottom: 20px;
    }
    .footer__bottom{
        flex-wrap: wrap;
    }
    .slider__inner1{
        
    }
    .slider__item1{
        max-height: 100px;
    }
    .slider__item2{
        background-position:center center;
        background-size: cover;
        
        
    }
    .slider__item3{
        background-position: center center;
        background-size: cover;
    }
    .slider__item4{
        background-position: center;
        background-size: cover;
    }
    .slider__item5{
        background-position: center;
        background-size: cover;
    }
    .sister__title{
        font-size: 30px;
        line-height: 35px;
    }
    .sister__photo a{
        margin-top: 20px;
    }
    .slick-list{
        max-height: 450px;
    }

    .slider__item-4{
        background-position: center bottom;
        background-size: cover;
    }
}



@media (max-width: 360px){
    ul.footer__social li{
        width: 33%;
    }
}